@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-primary: "Inter", "sans-serif";
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.1467 0.0041 49.31);
  --foreground: oklch(0.85 0.01 105);
  --card: oklch(0.1467 0.0041 49.31);
  --card-foreground: oklch(0.9845 0.0013 106.42);
  --popover: oklch(0.1467 0.0041 49.31);
  --popover-foreground: oklch(0.85 0.01 100);
  --primary: oklch(0.6455 0.1943 41.08);
  --primary-foreground: oklch(0.9845 0.0013 106.42);
  --secondary: oklch(0.2685 0.0063 34.3);
  --secondary-foreground: oklch(0.9845 0.0013 106.42);
  --muted: hsl(12 6.5% 15.1%);
  --muted-foreground: oklch(0.75 0.01 80);
  --accent: oklch(0.2685 0.0063 34.3);
  --accent-foreground: oklch(0.9845 0.0013 106.42);
  --destructive: oklch(0.6343 0.1809 23.83);
  --destructive-foreground: oklch(0.9845 0.0013 106.42);
  --border: oklch(0.2685 0.0063 34.3);
  --input: oklch(0.2685 0.0063 34.3);
  --ring: oklch(0.6455 0.1943 41.08);
  --chart-1: oklch(0.5292 0.1931 262.13);
  --chart-2: oklch(0.6983 0.1337 165.46);
  --chart-3: oklch(0.7232 0.15 60.63);
  --chart-4: oklch(0.6192 0.2037 312.73);
  --chart-5: oklch(0.6123 0.2093 6.39);
  --sidebar: oklch(0.1706 0.0059 48.36);
  --sidebar-background: oklch(0.17 0.005 48.36);
  --sidebar-foreground: oklch(0.95 0.01 100);
  --sidebar-primary: oklch(0.6455 0.1943 41.08);
  --sidebar-primary-foreground: oklch(0.9845 0.0013 106.42);
  --sidebar-accent: oklch(0.2685 0.0063 34.3);
  --sidebar-accent-foreground: oklch(0.9845 0.0013 106.42);
  --sidebar-border: oklch(0.2685 0.0063 34.3);
  --sidebar-ring: oklch(0.5912 0.2381 28.95);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;

    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--background);
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-sm;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-4;
  }
}
